.blog-post {
  width: unquote("max(52%, 324px)");
  margin-left: 13vw;
  margin-right: 5vw;

}

@media (max-width: 768px) {
  .blog-post {
    margin: 0 auto 50px;

    ul {
      padding: 5px 15px;
    }

    blockquote {
      width: 80%;
      padding: 10px 12px;
      border-left: 6px solid #bbb;
      border-radius: 0;

      &::before {
        display: none;
      }
    }

    table {
      display: block;
      overflow-x: scroll;
      white-space: nowrap;
      -webkit-overflow-scrolling: touch;
      margin: 25px auto;

      tr {
        th {
          padding: 5px 8px;
        }

        td {
          padding: 5px 8px;
        }
      }
    }

    aside {
      padding: 10px 15px 10px 50px;
      width: 95%;

      p {
        line-height: 1.5;
      }

      &::before {
        font-size: 1.5rem;
        height: 2.5rem;
        width: 2.5rem;
        margin-left: -40px;
      }
    }
  }
}
