@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  color: #444;
  font-family:
    YuGothic,
    "Yu Gothic Medium",
    "Yu Gothic",
    Verdana,
    Meiryo,
    sans-serif;
  /* scroll-behavior: smooth; */
}

a {
  text-decoration: underline;
}

a:hover {
  color: #666;
}
